#wordList{
    margin: 1em;
}

#wordList input{
    height:2rem;
    margin: 1em;
    width: 20em;
}

#wordList button{
    height: 2rem;
    color: #fff;
    background-color: #007bff;
    border: 1px solid #007bff;
    cursor: pointer;
}

#wordList .word-create{
    letter-spacing: 1px;
}

#wordList #searchWord{
    float: right;
}
.spinner{
    height: 10vh;
    width: 10vh;
    position: fixed;
    left: 40%;
    top:35%;
    font-size: 2px;
}