header{
    position: fixed;
    align-items: center;
    font-size: 1em;
    top:0;
    left: 0;
    width: 100%;
    /* background-color: #563d7c; */
    background-color: #3F51B5;
    color: white;
    /* box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1); */
    z-index: 999;
}

header a {
    text-decoration: none;
    color: white;
    margin: 0 1em;
    display: inline-block;
}

.settingsIcon{
    float: right;
    display: inline-block;
}

.settingsIcon svg{
    cursor: pointer;
}

.dictateBody {
    /* border:1px solid salmon; */
}

.checkBox{
    display: block;
    font-weight: 100;
}

.checkBox input{
    margin: 0 1em;
}


@media screen and (min-width: 768px) {
   header{
       height: 60px;
   }
   
   .settingsIcon{
       padding: 1em;
   }

    .logo{
        height: 50px;
        width: 50px;
        vertical-align: middle;
        margin: 0.25em 0;
    }
}

@media screen and (max-width: 480px) and (orientation:portrait) {
    header{
        height: 45px;
    }
    
    .settingsIcon{
        padding: 0.5em;
    }
    
    .logo{
        height: 40px;
        width: 40px;
        vertical-align: middle;
        margin: 0.25em 0;
    }
}