.progressContainer{
    width:50%;
    height: 10px;
    border-radius: 10px;
    background: #cacaca;
}

.progressContainer .progress{
    background-color: #007bff;
    height: 10px;
    border-radius: 10px;
}

.progressCount{
    /* float: right;
    position: relative;
    top:-18px;
    right: -62px; */
    /* margin: 0 1em; */
    width: 20%;
    text-align: center;
}