.progressContainer{
    width:400px;
    height: 10px;
    border-radius: 10px;
    background: #cacaca;
}

.progressContainer .progress{
    background-color: #007bff;
    height: 10px;
    border-radius: 10px;
}

.progressContainer .progressCount{
    float: right;
    position: relative;
    top:-18px;
    right: -62px;
}