@media screen and (min-width: 768px) {
    #onLineStatus{

    }

}

@media screen and (max-width: 480px) and (orientation:portrait) {
    #onLineStatus{
        position: fixed;
        bottom:0;
        left:0;
        width:100%;
    }
    .online{
        background: green;
    }
    .offline{
        background: red;
    }
    .none{
        display: none;
    }
}