 .head{
    height:2em;
    padding: 0.5em;
    margin-left:-1em;
    margin-right:-1em;
  }

  .headTitle{
    margin: 0 1em;
  }
  
  .closeIconContainer{
    color:red;
    cursor: pointer;
    float: right;
  }

  .closeIconContainer :hover{
    border: 1px solid red;
    border-radius: 50%;
  }


  .defi:hover{
    box-shadow: 0 0 0 0.2rem rgba(72,180,97,.5) !important;
  }

  .defi:active{
    box-shadow: 0 0 0 0.2rem rgba(72,180,97,.5) !important;
  }

  .defi{
    margin: 0 auto !important;
    width:90% !important;
    background: #28a745 !important;
    border:1px solid #28a745 !important;
  }

  .addWord{
    display: inline-block;
    height: 2em;
    margin: 0 0.5em;
  }

  .addWord svg{
    font-size: 2em;
    cursor: pointer;
  }

  .addWord svg:hover{
    /* opacity: 0.6; */
    transform: scale(1.5);
  }

  .dataContainer{
    overflow: auto;
    margin: 0 -1em;
    padding: 0 1em;
  }

  #defSeparator{
    margin:0 -1em;
    visibility: hidden;
  }

  .originContainer p {
    margin-top: 0;
  }

  .wodname{
    width: 8em;
    display: inline-block;
  }

  .phonetic{
    display: inline-block;
    float: right;
  }

  .types{

  }

  .type{
    border: 1px solid;
    display: inline-block;
    border-radius: 10px;
    padding: 0 0.5em;
    margin-right: 0.5em;
  }
  .textInputB textarea{
    width:100%;
    box-sizing:border-box;
    resize:vertical;
  }
.meanContainer{
  height: 225px;
  overflow-y: auto;
}  
.meanContainer label{
  font-weight: 600;
}
.originContainer p,.meanContainer > p{
  color: gray;
  padding: 0 2em;
}


@media screen and (min-width: 768px) {
  .createWord{
    /* width:400px; */
    padding:0 1em;
    border-radius: 10px;
    /* border:1px solid gray; */
  }


  .inputContainer{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .dataContainer{
    height: 290px;
  }
  
  .inputB {
    width: 70%;
  }

  .inputB input{
    margin: 1em 0 !important;
    border-radius: 0 !important;
    font-size: 16px;
  }

  .getDfBtn{
    text-align: center;
    padding: 0.5em;
  }

  .defi{
    width: 5em !important;
    border-radius: 0 !important;
  }
}

@media screen and (max-width: 480px) and (orientation:portrait) {

  .modalWrapper{
    position: fixed;
    background: rgba(0, 0, 0, 0.1);
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
  }

  .dataContainer{
    height: 350px;
    font-size: 18px;
  }
  .wordHead,.types{
    padding: 0 2em;
  }  
  .createWord{
    width:100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border:1px solid gray;
    background: white;
    z-index: 12;
    position: fixed;
    bottom: 0;
    margin: 0 !important;
  }

  .head{
    padding: 0.5em;
  }

  .inputContainer .inputB{
    /* display: flex;
    align-items: center; */
  }

  .getDfBtn{
    margin: 0 !important;
  }

  .inputB {
    width: 100%;
  }

  .inputB input{
    margin: 1em 0 !important;
  }

  .getDfBtn{
    display: flex;
  }

  .defi{
    width: 100%;
    border-radius: unset !important;
  }
  .addWord{
    width: 100%;
    text-align: center;
  }
} 