.containerTitle{
    display: flex;
    align-items: center;
    border: 1px solid #eaeaea;
    position: sticky;
    background: white;
    z-index: 999;
}

.containerTitle h3{
    padding-left:1em;
}

.wordContainer{
    display: flex;
    justify-content: center;
}

.wordGrid{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
}

.wordContainer aside{
    display: inline-block;
    width: 40%;
}

.wordBlock{
    width: 100%;
}

.wordName{
    margin-bottom: 0;
    word-break: break-word; 
}

.wordPronun{
    font-size: 1.2em;
}

.wordType{
    font-size: 1.5em;
}

.wordInfon{
    font-size: 1em;
    word-break:break-word;
}

.bookMark{
    float: right;
    margin-right: 3em;
}

.bookMark svg{
    font-size: 2em;
    color: gray;
    cursor: pointer;
}

.bookMark svg:hover{
    color: #4CAF50;
}

.bookMarked svg{
    color: #4CAF50;
}

.goUp{
    position: fixed;
    right: 1em;
    bottom: 4em;
}

.goUp .upArrow{
    width:50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid gray;
    background:white;
}

.upArrow svg{
    font-size: 3em;
    cursor: pointer;
}

.spinner{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    font-size: 2px;
}

@media screen and (min-width: 768px) {
    .containerTitle{
        top: 60px;
    }
    .containerTitle h3{
        font-size:1em;
    }

    .wordNameContainer{
        display: inline-block;
        width: 30%;
    }

    .wordinfoContainer{
        width: 70%;
        display: inline-block;
        float: right;  
    }
    .wordName{
        font-size:5em;
    }

}

@media screen and (max-width: 480px) and (orientation:portrait) {
    .containerTitle{
        top: 45px;
    }
    .containerTitle h3{
        font-size:0.8em;
    }
    .wordNameContainer,.wordinfoContainer{
        display:block;
        width:100%;
    }
    .wordNameContainer p{
        margin:0;
    }
    .wordName{
        font-size:3em;
    }
} 
